<div>
  <h1><%= @task.content %></h1>
</div>
<div>
  <% if current_user == @task.user %>
    <%= link_to "Delete", @task, method: :delete, data: { confirm: "削除してもよろしいでしょうか?" }, class: 'btn btn-danger btn-sm' %>
  <% end %>
</div>
<%= form_with(model: @task, local: true) do |f| %>
  <%= f.label :content, 'タスク名' %>
  <%= f.text_field :content %>

  <%= f.submit '変更' %>
<% end %>
