<% if logged_in? %>
  <p>ログイン完了ユーザ: <%= current_user.name %></p>
  <!--タスク追加フォーム-->
  <div class="text-center">
    <%= form_with(model: @task, local: true) do |f| %>
      <div class="form-group">
        <%= f.text_field :content, class: 'form-control' %>
      </div>
      <%= f.submit '追加', class: 'btn btn-primary' %>
    <% end %>
  </div>
  
  <!--検索フォーム-->
  <%= render 'tasks/search_form' %>

  <!--タスク表示-->
  <ul class="list-unstyled">
    <% @tasks.each do |task| %>
    
      <div class="card">
          <!-- カードのタイトル部分として設定 -->
          <div class="card-header">
              <!-- 時間に関するFont Awesomeのアイコンを追加 -->
              <i class="fas fa-clock mr-1"></i><%= task.content %>
          </div>
  
          <!-- カードの本文部分として設定 -->
          <div class="card-body">
              <p>ここにサブタスクが入ります！</p>
              <%= render 'tasks/done_button', task: task %>
              <div>
          <% if current_user == task.user %>
            <%= link_to "Delete", task, method: :delete, data: { confirm: "削除してもよろしいでしょうか?" }, class: 'btn btn-danger btn-sm' %>
            <%= link_to 'edit', edit_task_path(task), class: 'btn btn-sm btn-primary' %>
          <% end %>
        </div>
          </div>
      </div>
    <% end %>
  </ul>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>ToDoリストへようこそ！</h1>
      <%= link_to '新規登録はこちら', signup_path, class: 'btn btn-lg btn-primary' %>
      <%= link_to 'ログインはこちら', login_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>