<% if logged_in? %>
  
  <!--検索フォーム-->
  <%= render 'tasks/search_form' %>

  <!--タスク追加フォーム-->
  <%= render 'tasks/add_task', task: @task %>

  <!--タスク表示-->
  <ul class="list-unstyled">
    <% @tasks.each do |task| %>
      <li class="card">
          <div class="card-header container-fluid">
            <div class="row">
              <% if current_user == task.user %>
                <div class="col-2 text-center m-0 p-0">
                  <%= render 'tasks/task_done_button', task: task %>
                </div>
               <div class="col-8">
                  <strong><%= task.content %></strong>
                </div>
                <div class="col-2 m-0 p-0">
                  <!--削除ボタン-->
                  <%= link_to task, method: :delete, data: { confirm: "削除してもよろしいでしょうか?" }, class: 'btn btn-danger btn-sm' do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end %>
                  <!--編集ボタン-->
                  <%= link_to edit_task_path(task), method: :get, class: 'btn btn-sm btn-primary' do %>
                    <i class="fas fa-wrench"></i>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
          <% task.sub_tasks.each do |sub_task| %>
            <% if sub_task.present?%>
            <ul>
              <div class="card-body container-fluid p-1">
                <li class="row">
                  <!--達成・未達成ボタン-->
                  <div class="col-2 text-center m-0 p-0">
                    <%= render 'sub_tasks/sub_task_done_button', sub_task: sub_task %>
                  </div>
                  <!-- ここにサブタスクを表示 -->
                  <div class="col-8">
                    <%= sub_task.content %>
                  </div>
                  <!--削除ボタン-->
                  <div class="col-2 m-0 p-0">
                    <%= link_to sub_task, method: :delete, data: { confirm: "削除してもよろしいでしょうか?" }, class: 'btn btn-danger btn-sm' do %>
                      <i class="fas fa-trash-alt"></i>
                    <% end %>
                  </div>
                </li>
              </duv>
            </ul>
            <% end %>
          <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>ToDoリストへようこそ！</h1>
      <div class="mt-5">
        <%= link_to 'ログインはこちら', login_path, class: 'btn btn-lg btn-primary' %>
      </div>
      <div class="mt-4">        
        <%= link_to '新規登録はこちら', signup_path, class: 'btn btn-lg btn-success' %>
      </div>
    </div>
  </div>
<% end %>